<?xml-model href="file.dtd" type="application/xml-dtd"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.init.resume.main.mapper.UserMapper">
	<insert id="RegisterUser" parameterType="User">
		INSERT INTO RESUME.RESUME_USERS(ID, PASSWORD, NAME, ENABLED) 
		VALUES( #{id} , #{password} , #{name} , 1 )
	</insert>
	
	<select id="getUserById" parameterType="String" resultType="CustomUserDetails">
	SELECT * FROM RESUME.RESUME_USERS WHERE ID=#{id}
</select>
</mapper>